flats.csv
houses.csv
appartments.csv
my_flats_cleaned.csv
my_house_cleaned.csv
my_gurgaon_properties.csv
my_gurgaon_properties_cleaned_v1.csv
my_gurgaon_properties_cleaned_v2.csv
my_gurgaon_properties_outlier_treatment.csv
my_gurgaon_properties_missing_value_imputation.csv