appartments.csv
data-preprocessing-flats.ipynb
data-preprocessing-houses.ipynb
data-preprocessing-level-2.ipynb
flats.csv
flats_cleaned.csv
gurgaon_properties.csv
gurgaon_properties_cleaned_v1.csv
houses.csv
house_cleaned.csv
merge-flats-and-house.ipynb
my_flats_preprocessed.csv
my_house_cleaned.csv
